{% extends 'base.html.twig' %}

{% block body %}
    <h1>Quelque chose est cassée !</h1>

    <p>
        Une erreur s'est produite. Vérifiez vos paramètres ou <a href="{{ path('Accueil') }}">retournez à l'accueil</a>.
    </p>
{% endblock %}