{% extends 'base.html.twig' %}

{% block body %}
    <h1>La page est introuvable</h1>

    <p>
        La ressource demandée n'a pas été localisée. Vérifiez l'adresse demandée ou <a href="{{ path('Accueil') }}">retournez à l'accueil</a>.
    </p>
{% endblock %}