louvre:
    resource: "@LouvreBundle/Controller/"
    type:     annotation
    prefix:   /

Accueil:
    path:     /
    methods:  ['GET', 'POST']
    defaults: { _controller: LouvreBundle:Order:indexOrder}

Recap:
    path:     /recapitulatif
    methods:  ['GET','POST']
    defaults: { _controller: LouvreBundle:Order:recapOrder}

Come-back:
    path:     /checkout
    methods:  'GET'
    defaults: { _controller: LouvreBundle:Order:checkout}