<div class="panel-footer">
    {% if app.request.get('_route') == 'Accueil'%}
        <div class="form-group">
            <div class="form-group text-center">
                <button type="submit" class="align-center btn btn-default">Rechercher</button>
            </div>
        </div>
    {% elseif app.request.get('_route') == 'Recap' %}
        <div class="row">
            <div class="text-center">
                <form action="" method="POST">
                    <script
                            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                            data-key="{{ key }}"
                            data-amount="{{ grandTotal * 100 }}"
                            data-label="Régler la commande"
                            data-currency="eur"
                            data-name="Le Louvre"
                            data-description="Billeterie"
                            data-image="{{ asset('icon/le_louvre.png') }}"
                            data-locale="fr"
                            data-zip-code="false">
                    </script>
                </form>
            </div>
        </div>
    {% endif %}

</div>