<nav class="navbar navbar-default">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <a href="{{ path('Accueil') }}"><img class="img-responsive" src="{{ asset('navbar/transparent_louvre.png') }}"></a>
            </div>
            <div class="col-sm-8 text-center">
                <img class="" src="{{ asset('navbar/transparent_nom.png') }}">
            </div>
        </div>
    </div><!-- /.container-fluid -->
</nav>