{% extends 'base.html.twig' %}


{% block content %}

<h1>Le musée du Louvre</h1><a href="{{ url('Accueil') }}"><img src="{{ asset('icon/le_louvre.png') }}"></a><br>

<h3>Votre commande à bien été effectuée.</h3><br>



{% for billet in order.billets %}
    Nom des visiteurs : {{ billet.nom }}<br>
    Prénom des visiteurs : {{ billet.prenom }}<br>
{% endfor %}

Code de réservation :<br>

Merci !<br>
{% endblock %}