{% extends 'base.html.twig' %}

{% block content %}
    {% set grandTotal = 0 %}
    {% set billetTotal = 0 %}
    {% for billet in order.billets %}
        {% set grandTotal = grandTotal + billet.montant %}
        {% set billetTotal = billetTotal +1 %}
    {% endfor %}

    <form action="{{ path('finalisation') }}" method="POST">
        <script
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="pk_test_WGfmYvVcELpspLen981CmEbn"
                data-amount="{{ grandTotal * 100 }}"
                data-currency="eur"
                data-name="Le Louvre"
                data-description="Billeterie"
                data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                data-locale="fr"
                data-zip-code="true">
        </script>
    </form>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script src="https://checkout.stripe.com/checkout.js"></script>
    <script src="{{ asset('js/stripeButton.js') }}"></script>
    <script>
        (function() {
            Stripe.setPublishableKey('pk_test_WGfmYvVcELpspLen981CmEbn');
        })();
    </script>
{% endblock %}